@width: 100%;
@height: 791px;

body {
    background: gold;
    -webkit-text-size-adjust: none;
}
.wrapper {
    width: @width;
    margin: 0 auto;
}
#map {
    width: @width;
    height: @height;
    
    //Bootstrap/Googlemaps bug fix for infowindow
    img {
        max-width: none;
    }
}

.filters {
    @filter_width: 280px;
    width: @filter_width;
    margin: 20px auto;
    input[type="submit"].submit {
        margin: 20px 0 0 0;
        width: (@filter_width)-40px;
    }
}

.flipper_container {
    height: @height;
    position: relative;
    margin: 0;
    perspective: 1000px;
}

#card {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: transform 0.2s;
    transform-style: preserve-3d;
    &.flipped {
        transform: rotateY( 180deg );
    }
    .front, .back {
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        backface-visibility: hidden;
    }
    .back {
        display: none;
        background: rgba(100,100,100, 1);
        transform: rotateY( 180deg );
    }
}


//Should be done with Guards, but I dont know how they work. yet. 
@media only screen 
and (max-width : 320px) {
    @width: 320px;
    @height: 460px;
    background: red;
    .wrapper {
        width: @width;
    }
    #map {
        width: @width;
        height: @height;
    }
    .flipper_container {
        height: @height;
    }
}